body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

h1{
text-align: center;
}

h3{
   text-align: center;
   font-size: 25px;
}

h2{
   margin-bottom: 10px;

}

p{
   font-size: 18px;
   padding-top: 0;
   margin-top: 0;
}

 .instContent{
   gap: 20px;
   row-gap: 20px;
 }

 .gameInst{
   flex-basis: 30%;
   padding: 0 20px;
   border: 2px solid black;
   border-radius: 10px;
   margin-top: 20px;
   align-content: center;
   line-height: 17pt;
 }

 /* nth matches elements based on their position among a group of siblings */
 .gameInst:nth-child(1){background-color: aquamarine;} 
 .gameInst:nth-child(2){background-color: lightblue;}

 .btnCss{
   font-size: 20px;
   background-color: lightblue;
   border-radius: 5px;
   text-decoration: none;
   padding: 10px 15px;
 }

 .btnCss:hover{
   background-color: white;
 }



 #playerInput{
   display: none;
   font-size: 15px;
   width: 80%;
   padding: 12px 20px;
   margin: 8px 0;
   border-radius: 5px;
   box-sizing: border-box;
 }




 @media(min-width: 800px){
   .instContent{
      display: flex;
      justify-content: center;
   }

   #playerInput{
      width: 25%;
   }
 }
